:root {
    --general-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #FFF9F4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
    --transition: all .4s;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: #fff;
    background: var(--general-bg);
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}




/* ========================================================= */

.header {
    background: #314b64;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}

.nav {}

.nav__list {
    display: flex;
    gap: 40px;
}

.nav__item {}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background: #D0DCE7;
    border-radius: 50%;

    opacity: 0;
    transition: var(--transition);
}

.nav__link:hover::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: #fff;
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

/* ========================================================= */

.hero {
    padding: 50px 0;
}

.title-main {
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 52px;
    font-weight: 600;
}



.slider-box {
    background-color: bisque;
    position: relative;
    overflow: hidden;
    height: 600px;
    border-radius: 20px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 0px 0px 4px rgba(34, 60, 80, 0.98);
    -moz-box-shadow: 0px 0px 0px 4px rgba(34, 60, 80, 0.98);
    box-shadow: 0px 0px 0px 4px rgba(34, 60, 80, 0.98);
}

.swiper-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    height: 100%;
}

.swiper-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-img_text {
    color: #ffffff;
    font-size: 22px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    background: #314b64;
    padding: 5px;
    text-align: center;
    font-weight: 600;
}




.swiper-pagination-bullet {
    background-color: rgb(37, 34, 34);
    width: 15px;
    height: 15px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}

.slide-content {
    position: relative;
    top: 0;
    z-index: 2;
    color: white;
    padding: 80px;
    pointer-events: none;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #35292986;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.2s;
}

.swiper-button-next {
    right: 15px;
}

.swiper-button-prev {
    left: 15px;
}



.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px;
}


/* /////////////////////////////// */

.services-main_title {
    color: black;
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 25px;
}

.services-inner {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin-bottom: 50px;
    color: #000;
}

.services-section-one {
    max-width: 700px;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #000;
    ;
}

.service-info {
    display: flex;
    max-width: 550px;
    gap: 10px;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 15px;
    border: 2px solid #000;
}


.service-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-section-two {
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #000;
}

.services-title {
    color: #000;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 600;
}



.service-img {
    max-width: 50px;
    margin-bottom: 10px;
}


/* ////////////////////card */

.card-title {
    color: #000;
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 50px;
}

.card-home_inner { 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.card {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid #000;
}

.card-home {}

.card-slider-container {
    position: relative;
}

.card-swiper-container {
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 350px;
}

.card-swiper-slide {
    height: 100%;
}

.card-swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-swiper-pagination {
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 10;
}


.card-swiper-pagination-bullet {
    background-color: rgb(37, 34, 34);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.card-Description {
    color: #000;
    width: 100%;
    border-radius: 0 0 20px 20px;
}

.card-description_title {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    position: relative;
     padding-left: 30px; 
}

.card-description_title::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/card/lingonberry.png) no-repeat center;
    background-size: contain;
   position: absolute; 
   left: 95px; 
   top: 50%; 
   transform: translateY(-50%);
}
.card-description_title::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/card/lingonberry.png) no-repeat center;
    background-size: contain;
   position: absolute; 
   right: 65px;
   top: 50%; 
   transform: translateY(-50%);
}

.card-item {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 10px;
}
.card-list {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}

.card-img {
    max-width: 30px;
}

.card-list {}

.card-home-img {
    width: 100%;
    display: block;
}

.card-booking {
    display: flex;
    justify-content: space-around;
    margin-bottom: 19px;
    cursor: pointer;
}

.card-booking-price {
    font-size: 24px;
    font-weight: 400;
}

.card-booking_link {
    box-sizing: border-box;
border: 1px solid rgb(0, 0, 0);
border-radius: 200px;
width: 136px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
font-size: 14px;
padding: 3px;
font-weight: 500;
}
.card-booking_link:hover{
    box-sizing: border-box;
border: 1px solid #577fa4;
background: #577fa4;
color: #fff;
}


/* ///////////////////////akardion */

.accordion-title {
    color: black;
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 35px;
}

.list {
    margin: 0 0 40px;
    padding: 0;
    list-style-type: none;
}

.list__item:not(:first-child) {
    margin-top: -1px;
}

.list__item .list__item-title {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    margin: 0;
    align-items: center;
    border: solid 1px transparent;
    border-bottom-color: gray;
    transition: border-color .5s, color .5s;
}

.list__item:first-child .list__item-title {
    border-top-color: gray;
}

.list__item .list__item-title:hover {
    border-top-color: #000000;
    border-bottom-color: #000000;
    color: #000000;
}

.list__item-icon {
    margin-left: 20px;
    display: block;
    flex-shrink: 0;
    transition: transform .5s;
}

.list__item-icon ellipse,
.list__item-icon path {
    transition: fill .5s;
}

.list__item .list__item-title:hover .list__item-icon ellipse {
    fill: rgb(192, 191, 191)
}

.list__item .list__item-title:hover .list__item-icon path {
    fill: rgb(38, 37, 37)
}

.list__item .list__item-text {
    margin: 0;
    padding: 0;
    color: black;
}

.ac .ac-trigger::after {
    content: none;
}

.ac {
    margin-top: 0;
    border: none;
    background-color: transparent;
}

.is-active .list__item-icon {
    transform: rotate(135deg);
}

/* ...................... rules*/

.rules-title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 35px;
    color: black;
}

.rules-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.rule-item {
    border: 2px solid #000;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.rule-img {
    max-width: 50px;
}
/* //////////////////// */
.map-title {
    color: #000;
    font-size: 52px;
    font-weight: 600;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 500px;
    border: 2px solid #000;
    box-sizing: border-box;
    border-radius: 20px;
}

/* .... */

@media (max-width: 1200px) {
    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-conrol {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    .map-text {
        color: #000;
        font-size: 32px;
        font-weight: 600;
    }

    /* ----------- */

    .footer__inner {
        justify-content: space-between;
        grid-template: repeat(2, auto) / repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: linear-gradient(180.00deg, #161723, #161723 109.238%);
        ;
        padding: 26vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    /* ----------- */

    .footer__inner {
        justify-content: center;
        grid-template: none;
        text-align: center;
        gap: 0;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }

    .footer__col:nth-child(3) {
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {

    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero__img {
        display: none;
    }

    .hero__img-conrol--mobile {
        display: flex;
        margin: 0 0 30px;
    }
}

@media (max-width: 600px) {
    .hero {
        padding-bottom: 80px;
    }

    .hero__title {
        font-size: 12vw;
    }

    /* /// */

    .services-inner {
        gap: 20px;
        width: 100%;

    }

    .service-item {
        width: 200px;
    }

}