.block-1 {
    font-family: "Open Sans";
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
}
.block-2{
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 30px;
    text-decoration: line-through;
    font-weight: 600;
}
.block-3 {
    text-align: center;
    text-transform: uppercase;
}
.block-4{
    word-spacing: 30px;
    text-shadow: 1px 0 1px #c61f1f;
}
.block-5 {
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: rgb(0, 0, 0); 
    text-decoration-thickness: 2px; /
}