.body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;

}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ... */

.header {
    background: url("../img/bg.jpeg") 50% 100% / cover no-repeat;
}

.header__top {
    padding: 19px 10px 0;
    max-width: 1799px;
    margin: 0 auto;

}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.header__logo {
    max-width: 280px;
    z-index: 11;
}

.header_left {
    display: flex;
    gap: 26px;
    align-items: center;
    flex-shrink: 0;
}

.header_left-siti {
    display: flex;
    gap: 10px;
}

.header_left-katalog {
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 200px;
    width: 136px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header_left-katalog:hover {
    border: 1px solid #f4683f;
    background: #f4683f;
}

.header_midl {
    display: flex;
    gap: 30px;
    flex-shrink: 0;
}

.header_right {
    display: flex;
    gap: 29px;
    flex-shrink: 0;
}

.header_right-icon {
    display: flex;
    gap: 10px;
}


.header_right-telephone {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* ////////header-mobil */
.contact-burger {
    display: none;
}

.nav {
    display: none;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__item {}

.nav__link {
    display: none;
    padding: 5px 0;
}

.nav-additional {
    display: none;
}

.nav-contact {
    display: none;
}

.nav_contackt-mobil {
    display: none;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: #fff;
    transition: 0s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

/* //////////// hero */


.hero {
    padding: 152px 0 0 0px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;

}

.hero__content {
    max-width: 680px;
    display: flex;
    flex-direction: column;
}


.hero__title {
    font-size: 60px;
    line-height: 1.4;
    margin-bottom: 30px;
    max-width: 680px;

}

.hero__text {
    max-width: 479px;
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 91px;
}

.hero__text-mobil {
    display: none;
    max-width: 249px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 50px;
    max-width: 210px;
}

.hero__button-mobil {
    display: none;
    border-radius: 200px;
    background: #f4683f;
    width: 320px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

/* ........слайдер */


.gallery {
    position: relative;
}


.gallery-swiper {
    width: 600px;
}

.gallery__link {
    display: block;
    border-radius: 10px;
    overflow: hidden;
    height: 240px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;

}



.gallery__btn {
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -60px;
    border: none;
    outline: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: none;
}

.title__paragraf {
    margin-top: 10px;
    text-align: center;
    margin: 14px 38px 0px 0px;
}

.gallery__btn-prev {
    left: 15px;
}

.gallery__btn-next {
    right: 55px;
}

.swiper-button-disabled {
    cursor: default;
}

.swiper-pagination-total {
    opacity: .6;
}

/* ///////калькулятор */

.hero__calculator {
    margin-right: 90px;
    height: 497px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    min-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    color: #1F1711;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

.hero__calculator_block-one {
    margin-top: 46px;
}

.hero__calculator_block-two {
    margin-top: 12px;
}

.hero__calculator-range {
    margin-top: -10px;
}


.hero__calculator-date {
    color: #1F1711;
    display: flex;
    justify-content: space-around;
    max-width: 280px;
    margin: 0 auto;
}

.hero__calculator-button {
    box-sizing: border-box;
    border: 1px solid rgb(192, 194, 215);
    border-radius: 200px;
    background: rgb(255, 255, 255);
    width: 280px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.hero__calculator-button input {
    max-width: 50px;
}

.line {
    width: 1px;
    height: 35px;
    background-color: #ccc;
    margin: 5px auto;
    position: absolute;
    right: 50%;
}

.hero__calculator-quantity {
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.hero__input-quantity {
    box-sizing: border-box;
    border: 1px solid rgb(192, 194, 215);
    border-radius: 200px;
    background: rgb(255, 255, 255);
    width: 280px;
    height: 50px;
    display: flex;
    align-items: center;
}

.hero__input-quantity input {
    margin-left: 20px;
}



.hero_button-search {
    border-radius: 200px;
    background: rgb(244, 104, 63);
    width: 280px;
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* ...............range */

.slider-container {
    width: 276px;
    margin: 20px auto;
    position: relative;
}

.slider-track {
    height: 2px;
    background-color: #ccc;
    position: relative;
    display: flex;
    align-items: center;
}

.slider-thumb {
    width: 8px;
    height: 20px;
    background-color: #FF5733;
    position: absolute;
    cursor: pointer;
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

.left-thumb {
    left: 0;
}

.right-thumb {
    right: 0;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    position: relative;
}

.min-value,
.max-value {
    position: absolute;
    top: 20px;
    white-space: nowrap;
    text-align: left;
}

.min-value {
    left: 0;
}

.max-value {
    right: 0;
}


/* ////////////////////// main-section*/


.section-one {
    background: url("../img/section.png") 100% 0% / auto 100% no-repeat, rgba(255, 255, 255, 0.592);
    max-width: 1799px;
    margin: 0 auto;
    min-height: 700px;
}


.section-container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    margin-bottom: 180px;
}

.item {
    padding: 20px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    color: rgb(51, 51, 51);
}

.item img {
    margin-bottom: 22px;
}

.section_bloc-title {
    color: rgb(51, 51, 51);
    font-size: 40px;
    font-weight: 800;
    padding: 150px 0 77px;
}

/* //////////section-two */
.card_title {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 80px;
    margin-top: -140px;
}


.card-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    max-width: 440px;
}

.card__image-container {
    position: relative;
}

.card__badge {
    position: absolute;
    top: 24px;
    right: 20px;
    width: 92px;
    height: 36px;
    border-radius: 150px;
    background: rgb(255, 255, 255);
    color: rgb(114, 116, 136);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card__badge-text {
    display: flex;
    gap: 6px;
    align-items: center;
}

.card__heart-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    box-shadow: 0px 4px 20px 0px rgba(21, 22, 34, 0.2);
    background: rgba(255, 255, 255, 0.5);
}

.card__content {
    border-radius: 0 0 20px 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 80px 0px rgba(5, 9, 22, 0.08);
}

.card__title {
    color: rgb(51, 51, 51);
    padding-top: 30px;
    padding-left: 30px;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.5;

}

.card__feature {
    color: rgb(114, 116, 136);
    line-height: 1.5;
    padding-left: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
}



.card__feature:first-child {
    padding-top: 16px;
    gap: 9px;
}


.card__feature:last-child {
    padding-bottom: 27px;
    padding-top: 5px;
    gap: 9px;
}

.card__price-area {
    display: flex;
    gap: 66px;
    margin: 0 auto;
    max-width: 380px;

}

.card__price {
    color: rgb(51, 51, 51);
    font-size: 22px;
    font-weight: 800;
    line-height: 1.5;
    flex-shrink: 0;
    padding-bottom: 40px;
}

.card__price-mobil {
    color: #333333;
    font-size: 16px;
    font-weight: 800;
    display: none;
}

.card__details-link {
    color: rgb(244, 104, 63);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    padding-top: 7px;
}

.card-knopka {
    border-radius: 200px;
    background: rgb(244, 104, 63);
    width: 280px;
    height: 50px;
    margin: 80px auto 200px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* //////sectiom fre service */

.service-title {
    color: #333333;
    font-size: 26px;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 50px;
}

.service {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

}

.service-card {
    border-radius: 20px;
    box-shadow: 0px 4px 80px 0px rgba(5, 9, 22, 0.08);
    background: rgb(255, 255, 255);
    width: 440px;
    height: 130px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: left;
    color: rgb(51, 51, 51);
    font-size: 18px;
    font-weight: 600;
}


.service-card__icon {
    margin-left: 22px;
}

.button-service {
    margin: 60px auto 250px;
    display: flex;
    border-radius: 200px;
    background: #f4683f;
    width: 280px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

/* /////// main section-4 acardion */

.accordion-container {
    max-width: 1400px;
    margin: 0 auto 250px;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    color: #333333;
}

.accordion-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    border-style: solid none none none;
}

.accordion-item:first-child {
    border-top: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.accordion-item:not(:first-child):not(:last-child) {
    border-radius: 0;
}


.accordion-item:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


.accordion-item__header {
    background-color: #ffffff;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: -1px;
}

.accordion-item__question {
    flex-grow: 1;
    margin-right: 10px;
    font-size: 22px;
    font-weight: 800;
    line-height: 150%;
}

.accordion-item__toggle {
    font-size: 1.5em;
    border-radius: 200px;
}


.accordion-item__content {
    padding: 15px;
    display: none;
    border-bottom: 1px solid #ccc;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    margin-top: -1px;
}

.accordion-item.active:last-child .accordion-item__content {
    border-bottom: 1px solid #ccc;
}

.accordion-item.active:not(:last-child) .accordion-item__content {
    border-bottom: none;
}

.accordion-item.active .accordion-item__content {
    display: block;
}

/* /////////////section fiwe */

.proposal {
    background: url(../img/footer-img/footer-img.png) 50% 0% / cover no-repeat;
}

.rent-block {
    padding: 233px 0px 482px 180px;
}



.rent-block__title {
    color: #ffffff;
    font-size: 40px;
    font-weight: 800;
    line-height: 150%;
    margin-bottom: 20px;
}

.rent-block__description {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 70px;
    width: 360px;
}

.rent-block__button {
    border-radius: 200px;
    background: #f4683f;
    width: 260px;
    height: 50px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

/* ////////footer */



/* ................................ */



@media (max-width: 1430px) {

    .card_title {
        justify-content: center;
        text-align: center;
    }

    .card-inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .card-knopka {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* ////////////servis */
    .service-title {
        justify-content: center;
        text-align: center;
    }

    .service {
        justify-content: center;
    }
}

@media (max-width: 1250px) {

    .header__top-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

    }


    .header__logo {
        max-width: 250px;
        z-index: 11;
    }

    .header__logo img {
        width: 100%;
    }

    .header_left {
        display: none;
    }

    .header_midl {
        display: none;
    }

    .header_right {
        display: none;
    }


    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: url(../img/bg.jpeg) 50% 100% / cover no-repeat;
        padding: 26vh 15px 30px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 600;
        line-height: 1.5;
        display: block;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }


    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .nav__item {
        box-sizing: border-box;
        border: 1px solid #c0c2d7;
        border-radius: 200px;
        width: 300px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__item:last-child {
        background: #f4683f;
        border-radius: 200px;
        border: 1px solid #f4683f;
        border-radius: 200px;
        margin-bottom: 40px;
    }

    .nav__link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-additional {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px;
        color: rgb(192, 194, 215);
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 162px;
    }

    .nav-contact {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 22px;
        color: #c0c2d7;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
    }

    .contact-burger {
        display: flex;
        align-items: center;
        gap: 19px;

    }

    .nav_contackt-mobil {
        display: block;
        display: flex;
        gap: 19px;

    }

    .nav-list {
        display: flex;
        gap: 24px;
    }


    /* //////////////////////////////////hero */

    .hero {
        padding: 92px 0px 112px;
    }

    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;

    }

    .hero__calculator {
        display: none;
    }

    .container__swiper {
        display: none;
    }

    .hero__text {
        display: none;
    }

    .hero__text-mobil {
        display: block;
    }

    .hero__button-mobil {
        display: block;
    }

    /* ///////main section-1 */

    .section-container-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-auto-flow: column;
    }


}

@media (max-width: 990px) {}

@media (max-width: 900px) {

    .service-title {
        display: flex;
        justify-content: center;
    }

    .service {
        justify-content: center;
    }

}

@media (max-width: 800px){
    .rent-block{
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 327px 0;
    }

}

@media (max-width: 600px) {
    .hero {
        padding-bottom: 80px;
    }

    .hero__title {
        font-size: 12vw;
    }

    .hero__text-mobil {
        font-size: 5vw;
        min-width: 149px;
    }

}

@media (max-width: 500px) {

    .card:nth-child(2) {
display: none;
    }
    .card:nth-child(4) {
display: none;
    }
    .card:nth-child(5) {
display: none;
    }

    .card__image {
        max-width: 320px;

    }

    .card__content {
        max-width: 320px;
        height: 142px;
    }

    .card__title {
        margin-top: -20px;
        margin-left: -20px;
        margin-bottom: 18px;
    }

    .card__features {
        display: none;
    }

    .card__price-area {
        gap: 66px;
        display: flex;
        align-items: center;
        margin-bottom: -20px;
        margin-left: 20px;
    }

    .card__price {
        display: none;
    }

    .card__price-mobil {
        display: block;
    }

    .card__details-link {
        color: #333333;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.5;
        box-sizing: border-box;
        border: 1px solid rgb(192, 194, 215);
        border-radius: 200px;
        background: #ffffff;
       
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 26px;
        
    }

    .card__heart-button {
        left: 16px;
        top: 20px;
        width: 50px;
        height: 50px;
    }
/* ////////proposal */

.rent-block__title {
    font-size: 8vw;
}

.rent-block__description {
    font-size: 3vw;
}

}