body{
    background: black;
}
legend {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: red;
}
fieldset {
    background: #fff;
    border-radius: 10px;
    max-width: 50%;
    margin-left: 50%;
    margin-right: 50px;
    min-height: 100px;
    margin-bottom: 100px;
}

div {
    color: #fff;
    font-size: 32px;

}
.element{
    position: sticky;
    top: 550px;  
}
